@media screen and (max-width : 1280px){
    .landing__waveDay,.landing__waveText{
          left: 10%;
    }
    .book__pageHistory{
          left: 15%;
    }
    .book__pageRules{
          left: 55%;
    }
}
