#footer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
    background-color: $darker;
    color: $white;
    font-size: 1.3rem;
    position: absolute;
}

.footer__newsletter{
    margin: 0;
    padding: 0 1rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: column nowrap;
    box-sizing: border-box;
    background-color: inherit;
    color: inherit;
}

.footer__newsletter h4{
    margin: 0;
    padding: 0;
}

.footer__newsletter__row{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
}

.footer__newsletter__row button{
    width: 3.75rem;
    margin-left: 0.3125rem;
    border-radius: 3.125rem;
    border:0;
}

.footer__newsletter__row button:hover{
  background-color: $greenLigth;
  color: $greenDark;
  transition-timing-function: ease;
  transition-duration: 0.4s;
}

.footer__contact{
    margin: 0;
    padding: 2.5625rem 1rem;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: column nowrap;
    box-sizing: border-box;
    background-color: inherit;
    color: inherit;
}

.footer__contact p{
  margin: 0;
}

.footer__social{
    margin: 0;
    padding: 0 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
    box-sizing: border-box;
    background-color: inherit;
    color: inherit;
}

.footer__social ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
}

.footer__social ul li{
    margin: 0;
    padding: 0 0.5rem;
}

.footer__social img{
    width: 2.5rem;
    height: auto;
    fill: $white;
}
